# --- Red 62 Infraestructura ---

# Hardhat y Contratos (Crucial para no subir archivos basura)
artifacts/
cache/
typechain/
typechain-types/
coverage/
coverage.json
.openzeppelin/

# Seguridad y Blindaje (Protege tus llaves y secretos)
.env
.env.local
.env.*
*.api_key
*.seed
*.key
*.gpg
!*.example

# Dependencias (Evita subir carpetas pesadas)
node_modules/
jspm_packages/

# Logs de error
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del Sistema / Editores
.vscode/
.idea/
.DS_Store
thumbs.db
